# dnmp alias
alias dnginx='docker exec -it nginx /bin/sh'
alias dphp='docker exec -it php /bin/sh'
alias dphp56='docker exec -it php56 /bin/sh'
alias dphp54='docker exec -it php54 /bin/sh'
alias dmysql='docker exec -it mysql /bin/bash'
alias dredis='docker exec -it redis /bin/sh'
alias nginx-reload='docker exec -it nginx nginx -s reload'
alias restart-service='docker-compose restart'
alias stop-service='docker-compose stop'
alias start-service='docker-compose start'
alias rm-service='docker-compose rm'
alias service-start='docker-compose up -d'
alias start-all='docker start $(docker ps -aq)'
alias stop-all='docker stop $(docker ps -aq)'

# php7 cli
php () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --volume $PWD:/www:rw \
        --workdir /www \
        docker_lnmp_php php "$@"
}

# php5.6 cli
php56 () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --volume $PWD:/www:rw \
        --workdir /www \
        docker_lnmp_php56 php "$@"
}

# php5.4 cli
php54 () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --volume $PWD:/www:rw \
        --workdir /www \
        docker_lnmp_php54 php "$@"
}

# php7 composer
composer () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --user www-data:www-data \
        --volume ~/docker_lnmp/data/composer:/tmp/composer \
        --volume $(pwd):/app \
        --workdir /app \
        docker_lnmp_php composer "$@"
}

# php5.6 composer
composer56 () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --user www-data:www-data \
        --volume ~/docker_lnmp/data/composer:/tmp/composer \
        --volume $(pwd):/app \
        --workdir /app \
        docker_lnmp_php56 composer "$@"
}

# php5.4 composer
composer54 () {
    tty=
    tty -s && tty=--tty
    docker run \
        $tty \
        --interactive \
        --rm \
        --user www-data:www-data \
        --volume ~/docker_lnmp/data/composer:/tmp/composer \
        --volume $(pwd):/app \
        --workdir /app \
        docker_lnmp_php54 composer "$@"
}
